<h2>Japanese Flags</h2>
<div class='flickity japanese'>
    {{! Iterate over all Japanese flags }}
    {{#each (limit japanese 20)}}
        <div class='flickity-cell {{slug}}'>
            <a href='/prefecture/{{slug}}'>
                {{! Flag }}
                <img data-flickity-lazyload='/assets/img/{{slug}}-medium.png'>
                {{name.en}}
            </a>
            {{! Last updated }}
            <time datetime='{{updated}}'>
                <script type='text/javascript' data-cfasync='false' defer='defer'>
                    $(function() {
                        $('.japanese .{{slug}}>time').html(humanTime('{{updated}}'));
                    });
                </script>
            </time>
        </div>
    {{/each}}
</div>