<h2>Recently Updated</h1>
    <div class='flickity updated'>
    {{#each updated}}
        <div class='flickity-cell {{slug}}'>
            <img data-flickity-lazyload='/assets/img/{{slug}}-large.png'>
            <a href='/prefecture/{{slug}}'>{{name.en}}</a>
            <time datetime='{{updated}}'>
                <script type='text/javascript' defer='defer'>
                    $(function() {
                        $('.updated .{{slug}}>time').html(humanTime('{{updated}}'));
                    });
                </script>
            </time>
        </div>
    {{/each}}
</div>