{{! Flag sidebar }}
<aside>
    <div>
        <img src="/assets/img/{{slug}}-large.png">
        {{! Details }}
        {{#with detail}}
            {{#with flag}}
                <p class="sidebar-header">Flag Specifications</p>
                {{#if name}}
                    <p><span>Name</span>{{name}}</p>
                {{/if}}
                {{#if adopted}}
                    <p><span>Adopted</span>{{adopted}}</p>
                {{/if}}
                {{#if ratio}}
                    <p><span>Flag ratio</span>{{ratio}}</p>
                {{/if}}
                {{#if designer}}
                    <p><span>Designer</span>{{designer}}</p>
                {{/if}}
                {{#if designCode}}
                    <p><span>UK Design Code</span>{{designCode}}</p>
                {{/if}}
            {{/with}}
            {{#with other}}
                <p class="sidebar-header">Prefecture Details</p>
                {{#if area}}
                    <p><span>Area</span>{{formatNumber area}} sq mi</p>
                {{/if}}
                {{#if population}}
                    <p><span>Population</span>{{formatNumber population}}</p>
                {{/if}}
                {{#if density}}
                    <p><span>Density</span>{{formatNumber density}}/sq mi</p>
                {{/if}}
            {{/with}}
        {{/with}}
    </div>
</aside>