{{! Flag sidebar }}
<aside>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/County_Flag_of_Wiltshire.svg/350px-County_Flag_of_Wiltshire.svg.png">
        {{! Details }}
        <p class="sidebar-header">Flag Specifications</p>
        <p><span>Name</span>{{detail.name}}</p>
        <p><span>Adopted</span>{{detail.adopted}}</p>
        <p><span>Flag ratio</span>{{detail.ratio}}</p>
        <p><span>Designer</span>{{detail.designer}}</p>
        <p><span>UK Design Code</span>{{detail.designCode}}</p>
        <p class="sidebar-header">Prefecture Details</p>
        <p><span>Area</span>{{detail.area}} sq mi</p>
        <p><span>Population</span>{{detail.population}}</p>
        <p><span>Density</span>{{detail.density}}/sq mi</p>
    </div>
</aside>