{{>app/appHead}}

<main class="prefecture">
    <h2>Prefectures</h2>
    {{#each prefecture}}
        <div class='row'>
            {{#each this}}
                <div class='col-lg-4'>
                    <a href='/prefecture/{{slug}}'>
                        <p>{{name.en}}</p>
                        <img src='/assets/img/{{slug}}-large.png' class='img-fluid'>
                    </a>
                    <!--
                    <div class='card'>
                        <img class='card-img-top img-fluid' src='/assets/img/{{slug}}-large.png'>
                        <div class='card-block'>
                            <a class='card-title' href='/prefecture/{{slug}}'>{{name.en}}</a>
                        </div>
                    </div>
                    -->
                </div>
            {{/each}}
        </div>
    {{/each}}
</main>

{{>app/appFooter}}