{{>app/appHead}}

<main class="prefecture">
    {{#each prefecture}}
        <div class='row'>
            {{#each this}}
                <div class='col {{slug}}'>
                    <figure class='figure'>
                        <img class='figure-img' src='/assets/img/{{slug}}-large.png'>
                        <figcaption class='figure-caption'>{{name.en}}</figcaption>
                    </figure>

                    <!--
                    <img src='/assets/img/{{slug}}-large.png'>
                    <a href='/prefecture/{{slug}}'>{{name.en}}</a>
                    <time datetime='{{updated}}'>
                        <script type='text/javascript' defer='defer'>
                            $(function() {
                                $('.updated .{{slug}}>time').html(humanTime('{{updated}}'));
                            });
                        </script>
                    </time>
                    -->
                </div>
            {{/each}}
        </div>
    {{/each}}
</main>

{{>app/appFooter}}